/******************************************************************
Site Name: 
Author: 

Stylesheet: Base Stylesheet

******************************************************************/

html {

}

body {
}

#main {

	@include container($wrapper-width);
	
}



html, body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

#wrapper {
  position: relative;
  width: 800px;
  min-height: 400px;
  margin: 100px auto;
  color: #333;
}