/******************************************************************
Site Name: 
Author: 

Stylesheet: Navigation Stylesheet

******************************************************************/

.article {
	text-align: center;
	padding: 0 1.5em;
	&__header {
		padding: 2em 0;
		text-align: left;
	}
	&__title {
		
	}
	&__section {
		margin-top: 10em;
		@include breakpoint($breakpoint-mobile) {
			margin-top: 1em;
		}
		.vcu-logo {
			max-width: 210px;
			margin-bottom: 1.35em;
		}
		.hero-text {
			font-size: 3em;
			color: $white;
			@include breakpoint($breakpoint-mobile) {
				font-size: 1.75em;
			}
		}
		&__title {

		}
	}
	button {
		margin-bottom: 2em;
		&:first-of-type {
			@include breakpoint($breakpoint-desktop) {
				margin-right: 2em;
			}
		}
		a {
			text-decoration: none;
		}
	}
}