/******************************************************************
Site Name: 
Author: 

Stylesheet: Footer Stylesheet

******************************************************************/

.footer {

	color: $white;
  
	&__inner {

		@include container($wrapper-width);
		padding: 1em 0;
    text-align: center;

		@at-root .copyright {

		}
	}
}