/******************************************************************
Site Name: 
Author: 

Stylesheet: Navigation Stylesheet

******************************************************************/

.article {
	text-align: center;
	padding: 0 1.5em;
	&__header {
		padding: 2em 0;
		text-align: left;
	}
	&__title {
		
	}
	&__section {
		margin-top: 10em;
		.vcu-logo {
			max-width: 200px;
			margin-bottom: 1.35em;
		}
		.hero-text {
			font-size: 3em;
			color: $white;
			@include breakpoint($breakpoint-mobile) {
				font-size: 1.75em;
			}
		}
		&__title {

		}
	}
	button {
		a {
			text-decoration: none;
		}
	}
}